@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

/*================================================== */
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.5rem;
	color: #5c5e66;
	background: #fff;
	height: 100%;
	position: relative;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
}

p {
	margin-bottom: 15px;
	font-weight: normal;

}

a {
	color: #ff7200;
	text-decoration: none;
}

a:hover,
a:active,
a:focus {
	outline: none;
	text-decoration: none;
	color: #333;
}

input,
textarea {
	border-radius: 0;
	-webkit-appearance: none;
}

img {
	max-width: 100%;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.container.no-gutters {
	padding-right: 0px;
	padding-left: 0px;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 1.5rem 0;

}

h1 {
	color: #063e66;
	font-family: 'Poppins', sans-serif;
	font-size:36px;
	text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}



h2 {
	font-size: 25px;
	font-weight: 600;
	color: #285bbb;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;

}

h3 {
	font-size: 20px;
	font-weight: 600;
	color: #22344b;
	font-family: 'Poppins', sans-serif;

}

h4 {
	font-size: 18px;
	font-weight: 600;
	color: #22344b;

}

h5 {
	font-size: 16px;
	font-weight: 600;
	color: #22344b;

}


h6 {
	font-size: 15px;
	font-weight: 600;
	color: #22344b;

}

.w-50 {
	width: 50% !important;
}

.yel-btn {
	background: #f2bd07;
	color: #fff;
	border: none;
	border-radius: 20px;
	font-size:14px;
	padding: 5px 10px;
	font-weight: 600;
    font-family: 'Asap', sans-serif;
    margin-right: 10px;
    margin-left: 10px;
    
}

.yel-btn:hover {
	background: #106b88;
	color: #fff;
}

.login-btn {
	background: #3451ff;
	color: #fff;
	border: none;
	border-radius: 20px;
	font-size:14px;
	padding: 5px 10px;
	font-weight: 600;
    font-family: 'Asap', sans-serif;
    margin-right: 10px;
}
.sign-btn {
	background: #1d2c8a;
	color: #fff;
	border: none;
	border-radius: 20px;
	font-size:14px;
	padding: 5px 10px;
	font-weight: 600;
    font-family: 'Asap', sans-serif;
}
.yel-btn:hover, .sign-btn:hover, .login-btn:hover {color: #fff !important;
	transition: 0.5s;
	background: #fc7803;}
.yel-btn:focus, .sign-btn:focus, .login-btn:focus {color: #fff !important;
	transition: 0.5s;
	background: #fc7803;}
.orangebtn{background: #fc7803; color:#fff; }
.orangebtn:hover{background: #f2bd07; color:#fff; }
/* ==================================================
 Header Section
================================================== */
header .bg-white {
	background:#fff;
	transition: 1s;
	box-shadow: 0 0 23px rgba(0, 0, 0, 0.2);
	padding-bottom:5px;
}

.main-header {
	position: absolute;
	z-index: 999;
	width: 100%;
    
}

header {
	position: relative;
	z-index: 999;
	margin: 0 auto;
	width: 100%;
}

.logo {
    text-align: left;
    margin: 10px;
}

.bg-white .navbar {
     padding:8px 0 0; 
}






/* ==================================================
Top Navigation Section
================================================== */

.bg-white .navbar-dark .navbar-nav .nav-link {
	color: #20403d !important;
}

.bg-white .navbar-dark .navbar-nav .nav-link.disabled {
	color: #20403d !important;
}

.bg-white .navbar-nav .nav-link:hover {
	color: #fff !important;
	transition: 0.5s;
	background: #fc7803;
}

.menubg {
	background: #2c2622;
	position: relative;
}

.navbar-brand {
	position: absolute;
}

.nav-link {
	display: block;
	font-size: 15px;
	font-weight: 700;
	font-family: 'Asap', sans-serif;
	color: #333333;
	text-transform: capitalize;
}

.navbar {
    margin-top:5px; 
    padding: 13px 0 0;
   
}

.navbar-dark .navbar-nav .nav-link {
	color: #333 !important;
}

.navbar-dark .navbar-nav .nav-link.disabled {}

.navbar-nav .nav-link:hover {
	color: #fff !important;
	transition: 0.5s;
	background: #fc7803;
	border-radius: 20px;

}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
	color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0.3rem 0.75rem;
    color: #fff;
    margin:3px 2px;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #fff;
}

.dropdown-menu {
	margin: 0rem 0 0;
	border-radius: .6rem;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	border: 0;
}

.dropdown-menu > li > a {
	display: block;
	padding: 8px 20px !important;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	white-space: nowrap;
	text-align: left;
	font-size: 13px;
	color: #333 !important;
}

.dropdown-item {
	font-weight: 400;
	color: #ffffff;
	font-size: 14px;
}

.dropdown:hover > .dropdown-menu {
    margin-top:-8px; 
	
}

.navbar-toggler:focus,
.navbar-toggler:active {
	outline: 0;
	border: 2px solid #fff;
}

.navbar-toggler {
	border: 1px solid #156fb3 !important;
	background: #0c61a0;
	width: 50px;
	height: 50px;
	margin-top: -48px;
	margin-bottom: 22px;
}

.navbar-toggler span {
	display: block;
	background-color: #fff;
	height: 3px;
	width: 25px;
	margin-top: 4px;
	margin-bottom: 4px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	position: relative;
	left: 0px;
	opacity: 1;
}


.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
	-webkit-transition: transform .35s ease-in-out;
	-moz-transition: transform .35s ease-in-out;
	-o-transition: transform .35s ease-in-out;
	transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
	position: absolute;
	left: 11px;
	top: 9px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
	height: 12px;
	visibility: hidden;
	background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
	position: absolute;
	left: 11px;
	top: 9px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	opacity: 0.9;
}



/* ==================================================
Banner Section
================================================== */

.bannermainbg {
	position: relative;
	padding-top: 0px;
	height: 836px;
	width: 100%;

}
.bannermainbg .carousel-control-next, .bannermainbg .carousel-control-prev {
    position: absolute;
    top: 35%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: #fff;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
    width: 50px;
    height: 50px;
}
.carousel-caption {
    position: absolute;
    right: -12%;
    top: 149px;
    left: 9%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff !important;
    text-align: left;
    width: 41%;
    font-size:16px;
    font-weight:600; 
}

.bannermainbg  .carousel-caption h1 {
	font-size:45px;
	color: #fff;
	font-weight:900;
	margin-top: 73px;
	font-family: 'Poppins', sans-serif;
    text-align: left;
    text-shadow:0 0 20px rgba(1, 81, 126, 0.5);
}

.carousel-caption h1 span {
	font-size: 40px;
	display: block;
	font-family: 'Dancing Script', cursive;
	text-transform: capitalize;
	color: #fff;
    text-shadow:0 0 20px rgba(1, 81, 126, 0.5);
}

.carousel-dark .carousel-indicators [data-bs-target] {
	background-color: #fc7803;
}

.carousel-indicators [data-bs-target] {

	width:10px;
	height:10px;
    background:#eb811e; 
    border: 0;
}
.searchbox{
    position: absolute;
    z-index: 50;
    top: 56%;
    left: 9%;
    background:rgba(255, 255, 255, 0.88); 
    border-radius:10px;
    padding: 20px;
    width: 58%;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;

}
.searchbox .form-control {
    display: block;
    width:86%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: transparent;
    background-clip: padding-box;
    border: transparent;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.searchbox .input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border: transparent;
    border-radius: 0.25rem;}
/* ==================================================
main heading Section 
================================================== */

.maintitle {
  line-height: 0.5;
  text-align: center;
    margin: 60px 0;
}
.maintitle span {
  display: inline-block;
  position: relative;  
}
.maintitle span:before, .maintitle span:after {
    content: "";
    position: absolute;
    height: 0;
    border-top: 5px solid #1dc9e6;
    top: 8px;
    width: 28%;
}
.maintitle span:before {
  right: 100%;
  margin-right: 15px;
}
.maintitle span:after {
  left: 100%;
  margin-left: 15px;
}


/* ==================================================
Explore top Itineraries Section 
================================================== */

.top-itineraries{
    margin: 50px auto;
    position: relative
}
.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 60px;
}
.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 10px 37px;
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 18px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
     border-bottom:5px solid #fc7803;
    border-color: #fff #fff  #fc7803 #fff;
    
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-bottom:5px solid #fc7803;
    border-color: #fff #fff  #fc7803 #fff;
    isolation: isolate;
}

.grid-img{ position: relative; margin-bottom: 24px;}
.grid-img img:hover{ filter: grayscale(80%);
    transition: .3s;
   }
.grid-img img.big {width: 100%;
height: 451px;}
.grid-img img.small {width: 100%;
height: 214px;}
.grid-img .overlay-content {
    background-color:rgb(0,0,0, 0.5);
    text-align: left;
    padding: 12px  20px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    z-index: 1;
    
}
/*.grid-img .overlay-content:hover { height:100%;  transition: .5s; }*/
.grid-img .overlay-content h3{ color:#fff; margin: 0; }
.grid-img .overlay-content h3 a{ color:#fff; margin: 0; }


.grid-img ul.rating {
    color: #FFD200;
    font-size: 12px;
    padding:6px 0 10px;
    margin: 0;
    list-style: none;
    position: relative;
   
}

.grid-img ul.rating li { display: inline-block;}


.grid-img .price-label {
    color: #fff;
    background-color: #0dc8e7;
    font-size:20px;
    text-transform: uppercase;
    padding:5px 15px;
    display: block;
    position: absolute;
    top:-12px;
    left:25px;
    border-radius:20px; 
}

.grid-img .like {
    color: #f60a0a;
    background-color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 4px 8px;
    display: block;
    position: absolute;
    top: 20px;
    right: 25px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0 auto;
}
.grid-img .dislike {
    color: #ccc;
    background-color: #fff;
    font-size:15px;
     text-transform: uppercase;
    padding: 4px 8px;
    display: block;
    position: absolute;
    top: 20px;
    right: 25px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0 auto;
}




/* ==================================================
Testimonial Section 
================================================== */
.testimonial-bg {
	
    position: relative;
    margin-bottom: 120px;
}


.testimonial-slider {
    background:#225191;
    border-radius: 40px;
    padding: 0 56px;
}

.testimonial-slider .carousel .carousel-item {
	color: #999;
	overflow: unset;
	min-height: 120px;
	font-size: 13px;
	padding: 30px 0; 
}

.testimonial-slider .carousel .media {
    position: absolute;
    padding: 0;
    z-index: 20;
    
}

.testimonial-slider .carousel .media img {

	margin-top: 38px;
	display: block;
	background: #fff;
	border-radius: 20px;
}

.testimonial-slider .carousel .media .icon {
    position: absolute;
    z-index: 30;
    background: #00aeef;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 35px;
    left: 0;
    top:58px;
    line-height: 49px;
    text-align: center;
}



.testimonial-slider .carousel .testimonial-wrapper {
    padding: 0;
    margin: 10px 5px;
    border-radius: 20px;
    position: relative;
    right: 0;
    padding-left: 22px;
    color: #fff;
    text-align: left;
}

.testimonial-slider .carousel .testimonial {
    color: #fff;
    position: relative;
    padding: 25px 18px 10px;
    background: none;
    border: 0px solid #efefef;
    border-radius: 0px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-left: 20px;
}

.testimonial-slider .carousel .testimonial-wrapper h3 {
	color:#f2bd07;
	font-size: 18px;
}


.testimonial-slider .carousel .testimonial-wrapper .smalltext {
	color:#fff6d9;
	font-weight: normal;
}


.testimonial-slider .carousel .overview {
	padding: 55px 0 0 15px;
	text-align: center;
}

.testimonial-slider .carousel .overview .details {
	padding: 5px 0 8px;
}
.testimonial-wrapper .clientname {
	padding-left:41px;
}

.testimonial-slider .carousel .overview b {
	color: #f88803;
	font-size: 20px;
}

.testimonial-slider .carousel .carousel-indicators {
	bottom: -70px;
}

.testimonial-slider .carousel .carousel-indicators li,
.testimonial-slider .carousel .carousel-indicators li.active {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 1px 2px;
	box-sizing: border-box;
}

.testimonial-slider .carousel .carousel-indicators li {
	background: #e2e2e2;
	border: 4px solid #fff;
}

.testimonial-slider .carousel .carousel-indicators li.active {
	color: #000;
	background: #ff9540;
	border: 5px double;
}

.testimonial-slider .carousel-indicators {
	position: absolute;
	right: 0;
	bottom: -66px;
}

.testimonial-slider .carousel-inner {
	position: relative;
	width: 100%;

}

.testimonial-slider .carousel-control-prev-icon,
.testimonial-slider .carousel-control-next-icon {
	background: #0f3b61;
	border-radius: 50%;
	color: #fff;
	padding-top: 5px;
}

.testimonial-slider .carousel-control-prev {
	left: -135px;
	background: transparent;
}

.testimonial-slider .carousel-control-next {
	right: -135px;
	background: transparent;
}

.testimonial-slider .carousel-control-next,
.testimonial-slider .carousel-control-prev {
	opacity: 1;
}

.testimonial-slider .carousel .carousel-item {
	color: #999;
	overflow: unset;
	min-height: 120px;
	font-size: 13px;


}



/* ==================================================
Internal pages banner
================================================== */
.innerbanner {
	background: url(innerpage.jpg) center top /cover;
	min-height:431px;
	padding-top: 132px;
	color: #333;
    background-repeat: no-repeat;
}

.innerbanner h1 {
	font-size: 40px;
	margin-bottom:5px;
	font-weight: bold;
    text-align: left;
    margin-left: 10px;
}

.main-content {

	padding:5px 0px;
	margin:0px 0px 70px;
	min-height: 600px;
	font-weight: 500;
}

.main-content h1 {
	font-size: 34px;
	margin-bottom: 20px;

}

.main-content h2 {
	font-size: 28px;
	padding: 10px 0;
	font-weight: 600;

}

.main-content h2 span {
	font-size: 16px;
	padding: 10px 0;
	display: block;
	font-weight: normal;
}

.main-content h3 {
	font-size: 26px;
	padding: 10px 0;
	font-weight: 600;
}

.main-content h3 span {
	font-size: 16px;
	padding: 10px 0;
	display: block;
	font-weight: normal;
}
.card-box{ position: relative; display:block; background: #fff; border-radius: 20px; padding: 20px 30px; margin: 20px auto;}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e3e6f0;
    color: #144678;
}

.table-striped tbody tr:nth-of-type(odd) {
    background: #f3f4fc;
}


/* ==================================================
Breadcrumb
================================================== */
.breadcrumb {
	margin-bottom: 0rem;
	border-radius: 15px;
	padding: 9px 20px;
	margin-top:8px;
	/* box-shadow: 0 0 5px rgb(0 0 0 / 30%); */
	background: rgb(14 52 104 / 72%);
    float: left;
    margin-left: 10px;
}

.breadcrumb-item a {
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	text-transform: capitalize;
}

.breadcrumb-item.active {
	color: #f3a902;
	font-size: 13px;
}

.breadcrumb-item + .breadcrumb-item::before {
	float: left;
	padding-right: 0.5rem;
	color: #e1e7ed;
	content: var(--bs-breadcrumb-divider, "/");
}

/* ==================================================
how it works page  Section
================================================== */



.howitworks{color:#fff; position: relative;}

.block {
    margin:60px 0;
    padding: 10px 40px;
    text-align: center;
}
.block h3 {
    font-size: 22px;
    color: #1F3242;
    text-transform: uppercase;
    text-align: center;
    min-height: 73px;
    margin-bottom: 10px;
}
.iconbg {
    background: #48B6EA;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    color: #fff;
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 110px;
}
/* ==================================================
blog page  Section
================================================== */
.blog{position: relative}
.blog-area{ padding:20px; margin:30px 0; }
.blog .blog-area figure{position: relative;}
.blog .blog-area figure img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
    
}
.blog .blog-area h3 {
    text-transform: capitalize;
    margin: 10px 0 0px;
    font-size: 20px;
}
.blog .blog-area .date {
    position: absolute;
    border-radius: 0 20px 0 0px;
    background: #ed9903;
    color: #fff;
    font-size: 44px;
    bottom: 0;
    left: 0;
    padding: 14px 10px;
}
.blog .blog-area .date span {
    font-size: 14px;
    color: #f3ebd6;
    display: inline-block;
    line-height: 18px;
    font-weight: 700;
}

/* ==================================================
Contact page  Section
================================================== */

.map {
	position: relative;
	margin-top: 30px;
}

.contactpage-form {
	top: 0;
	right: 60px;
	position: absolute;
	background: #fff;
	width: 36%;
	padding: 10px 30px 20px;
	margin: 20px;
}

.lg-grey {
	background: #efefef;
	min-height: 150px;
	margin: 0px 5px;
	padding: 20px;

}

.lg-grey i {
	font-size: 25px !important;
	color: #63cc3d;
}

.listing {
	margin-top: 15px;
}

.listing ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.listing li {
	display: block;
	padding: 8px;
}

.listing li i {
	font-size: 20px;
	color: #63cc3d;
	padding-right: 10px;
	float: left;
	margin-top: 1px;
}




/* ==================================================
Footer  Section
================================================== */


footer {
	background: url(trutravel_footer.jpg) center top /cover;
	padding: 15.5rem 0 1rem;
	font-size: 14px;
	color: #e4e9ea;
	font-weight: 600;
	position: relative;
}

footer .footlogo {
	top: -113px;
	position: relative;
	padding-bottom: 20px;
	text-align: center;
	margin-bottom: -113px;
}


footer i {
	font-size: 20px;
	padding: 10px;
	color: #e4e9ea;
}


footer ul {
	list-style: none;
	padding: 0;
}

footer li {
	display: inline-block;
	padding: 2px 10px 2px 0px;

}

footer li a {
	color: #f5f5f5;
	font-weight: 700;
	text-decoration: none;
	font-size: 14px;
	padding: 5px;
}

footer li a:hover {
	color: #fc7803;
}

footer li a i {
	font-size: 10px;
	color: #26b135;
}

.footer-bot {
	padding: 1px 0;
	font-size: 0.8rem;
	margin: 0;
	border-top: 1px dashed #79957b;

}

footer a {
	color: #c0dbca;

	font-weight: 600;
}

footer a:hover {
	color: #ff7200;
}

/* ==================================================
Media Queries
================================================== */

@media (max-width:1280px) {

}

@media (max-width:1024px) {
.navbar {
    padding:0px 0 !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
		padding:0.8rem 0.5rem !important;
		margin: 0 0px;
	}
    
    .nav-link {
    display: block;
    font-size: 14px!important;
    
}
	.testimonial-slider .carousel-control-next {
		right: -17px;
	}

	.testimonial-slider .carousel-control-prev {
		left: -30px;
	}

	

	.testimonial-slider .carousel .carousel-item {
		color: #999;
		overflow: unset;
		min-height: 120px;
		font-size: 13px;
		padding-left: 0px;
	}

	.topbar {
		text-align: left;
		padding-right: 15px;
	}

	.video-text {
		margin-right: 0;
		width: auto;
	}

	.profilebg .img-box {
		min-height: 200px;
		width: 270px;
	}


}

@media (max-width: 992px) {
        .logo img {
    margin: 0;
}

.bannermainbg .carousel-caption h1 {
    font-size: 35px;}
	.bannermainbg {
		height: auto;
	}
.searchbox {width:75%;}
    .carousel-caption {width:75%; top:54px!important;}
  
    .maintitle span:before, .maintitle span:after{
        width: 15%;
    }

.searchbox {
    width:85%;
    top:66%;
}


	.navbar-toggler:focus {
		box-shadow: none;
	}

.navbar-toggler {
    border: 1px solid #d23a30 !important;
    background: #fc7803;
    width: 51px;
    height: auto;
    position: absolute;
    right: 0;
    top: 14px;
    margin: 0 0;
}
.navbar-collapse {
    position: absolute;
    top: -14px;
    z-index: 99;
    background: #fffbf8;
    width: 100%;
    padding: 10px;
    left: 0;
    box-shadow: 0 2px 12px rgb(182 198 209 / 50%);
}



}

@media (max-width: 820px) {
    .searchbox {
    width: 97%;
    left: 14px;
}

	.bannermainbg {
		height: auto;
	}


    .carousel-caption {width:75%;}
    .carousel-caption p{display: none;}
    .maintitle span:before, .maintitle span:after{
        width: 15%;
    }
    .yel-btn { margin-left:0;
    margin-right: 0;}
}

@media (max-width: 768px) {


	.navbar-toggler:focus {
		box-shadow: none;
	}




	.innerbanner {
		
		color: #333;
	}

	.innerbanner h1 {
		font-size: 30px;
		margin-bottom: 20px;
		font-weight: bold;
	}


}

@media (max-width: 576px) {
.logo {
    text-align: left;
    margin:0px;
}

    .navbar-toggler {
    
    width: 41px;
    height: auto;
    position: absolute;
    right: 0;
    top: -56px;
    margin: 0 0;
}
    .navbar-toggler span{     height: 2px;
    width: 16px;}
    .bannermainbg .carousel-control-next, .bannermainbg .carousel-control-prev {display:none;}

	.bannermainbg .carousel-caption {
		top:11px !important;
		width:90%;
	}

	.bannermainbg .carousel-caption h1 {
		font-size: 25px;
		line-height:23px;
		margin-bottom: 0;
	}
    .bannermainbg .carousel-caption p{ display: none;}
    
	.carousel-caption h1 span {
		font-size: 18px;
	}
    .carousel-indicators{ display: none;}
    .searchbox {
    position: absolute;
    z-index: 50;
    top: 56%;
    left: 5%;
    background: rgba(255, 255, 255, 0.88);
    border-radius: 10px;
    padding: 20px;
    width: 90%;
}
.maintitle span:before, .maintitle span:after {
    content: "";
    position: absolute;
    height: 0;
    border-top: 5px solid #1dc9e6;
    top: 8px;
    width:5%;
}
    h1{ font-size:20px; }
	.testimonial-slider .carousel .testimonial-wrapper {
		padding:5px 15px;
	}
.top-destination {
    margin: 35px auto 0 !important;
   
}
    .top-itineraries{ margin:0px auto 0 !important;}
    .owl-dots{ display: none;}

.nav-tabs .nav-link {

    padding: 10px 17px;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 15px;
}
.testimonial-slider {
    background: #225191;
    border-radius: 20px;
    padding: 0 10px;
    width: 90%;
    margin: 0 auto;
    position: relative;

    
}
    .testimonial-slider .carousel .media .icon{ top:98px;}
	footer p {
		padding: .2rem 0;
		margin: .9rem 0;
	}
    .contactpage-form {
    
    position: relative;
    left: 0; width: 100%;
margin: 0;
}
}

@media (max-width: 420px) {

    .navbar-toggler {    
 
    top: -43px;
    
}
    .searchbox {
    position: absolute;
    z-index: 50;
        top: 75%;}
    
.logo img {
    width: 33%;
    margin: 5px 10px;
}    
    
    .top-destination {
    margin:93px auto 0 !important;
   
}

}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
